@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex h-full w-full flex-col bg-gray-950 text-white;
  font-family: 'Inter', 'sans-serif';
  min-height: 100vh;
}

.text-primary-gradient {
  background: linear-gradient(
    to right,
    theme(colors.primary.700),
    theme(colors.primary.200),
    theme(colors.primary.700)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
